#account-details {
    display: grid;
    grid-template-columns: 2fr 5fr;
    gap: 150px;
    margin-bottom: 70px;

    aside {
        border-right: 1px solid $gray-300;
        padding-right: 20px;

        .profile-info {
            margin: 20px;
            text-align: center;

            h5 {
                margin-top: 15px;
                margin-bottom: 0px;
            }

            p {
                @include text-m;
            }
        }

        nav {
            margin-top: 50px;
            text-align: left;

            a {
                margin: 10px 0;
                text-align: left;
                justify-content: flex-start;
            }

            .btn-theme-s {
                text-align: left;
                justify-content: flex-start;
            }
        }
    }

    .details {
        margin-top: 50px;
        width: 100%;

        .basic-info {

            form {
                padding: 1rem;

                h5 {
                    color: $theme;
                    margin-bottom: 2rem;
                }

                .content {
                    display: grid;
                    gap: 1rem 2rem;
                    grid-template-columns: 1fr 1fr;
                    grid-template-areas: "firstname lastname" "email phone" "bio bio" "buttons buttons";

                    #form-firstname {
                        grid-area: firstname;
                    }

                    #form-lastname {
                        grid-area: lastname;
                    }

                    #form-email {
                        grid-area: email;
                    }

                    #form-phone {
                        grid-area: phone;
                    }

                    #form-bio {
                        grid-area: bio;

                        span {
                            color: $gray-500;
                            font-weight: 400;
                        }
                    }

                    .form-buttons {
                        grid-area: buttons;
                        margin: 20px 0;
                        display: flex;
                        gap: 20px;
                    }
                }
            }
        }

        .address-info {
            margin-top: 30px;

            form {
                padding: 1rem;

                h5 {
                    color: $theme;
                    margin-bottom: 2rem;
                }

                .content {
                    display: grid;
                    gap: 1rem 2rem;
                    grid-template-columns: 1fr 1fr;
                    grid-template-areas: "addressline_1 addressline_1" "addressline_2 addressline_2" "postalcode city" "buttons buttons";

                    #form-addressline-1 {
                        grid-area: addressline_1;
                    }

                    #form-addressline-2 {
                        grid-area: addressline_2;

                        span {
                            color: $gray-500;
                            font-weight: 400;
                        }
                    }

                    #form-postalcode {
                        grid-area: postalcode;
                    }

                    #form-city {
                        grid-area: city;
                    }

                    .form-buttons {
                        grid-area: buttons;
                        margin: 20px 0;
                        display: flex;
                        gap: 20px;
                    }
                }
            }
        }
    }
}





/*#account-details {
    

    .container {
        display: flex;
        padding-top: 3rem;
        gap: 1rem;
        
        

        .sidebar {
            text-align: center;
            padding-top: 2rem;
            
            
    
    
            .user {
               
                .avatar {
                    position: relative;
                    display: flex;
                    align-items: flex-end;
                    justify-content: center;
                    
                    
    
                    button {
                        position: absolute;
                        border: 2px solid $gray-300;
                        height: 36px;
                        width: 36px;
                        border-radius: 50%;
                        background-color: white;
                        
                        margin-left: 5rem;
                        

                    }
    
    
                }
    
                .name {
                    
                }
            }
            
            .buttons {
                padding-top: 1rem;
    
                .btn-theme-s {
                    border: none;
                    margin-bottom: 5px;
                    padding-right: 8rem;
                    
                    
                    
                }
                
    
                .btn-gray {
                    background-color: transparent;
                    color: $gray-800;
                    @include form-standard;
                    
                    
                    
                    &:hover {
                        color: $gray-800;
                        text-decoration: underline;
                    }
    
    
                }
                
                
                
            }
        }

        .account {
            padding-top: 2rem;
            border-left: 1px solid $gray-400;
            
            
            
            

            .content {
                width: 852px;
                margin-left: 100px;
                
                
                
                

                h5 {
                    color: $theme;
                }

                .basic-info {
                    padding-bottom: 2rem;
                    border-bottom: 1px solid $gray-400;
                    
                    

                    .names {
                        display: flex;
                        gap: 1rem;
                        
                        
                        

                        .form {
                            display: flex;
                            flex-direction: column;
                            @include form-standard;
                            width: 100%;

                            input {
                                @include input-standard;
                                width: 100%;

                                &::placeholder {
                                    color: $gray-700;
                                }
                            }
                        }
                    }

                    .contact {
                        display: flex;
                        gap: 1rem;
                        

                        .form {
                            display: flex;
                            flex-direction: column;
                            @include form-standard;
                            width: 100%;

                            input {
                                @include input-standard;
                                width: 100%;

                                &::placeholder {
                                    color: $gray-700;
                                }
                            }
                        }
                    }

                    .bio {
                        display: flex;
                        flex-direction: column;
                        @include form-standard;
                        border: none;

                        textarea {
                            resize: none;
                            border-color: $gray-400;
                            padding: 1rem;
                        }
                        

                        span {
                            color: $gray-600;
                        }

                    }

                    .buttons {
                        padding-top: 1rem;
                        display: flex;
                        gap: 1rem;

                        
                        
                    }
                }

                .address {
                    padding-top: 2rem;
                    padding-bottom: 5rem;

                    .form {
                        display: flex;
                        flex-direction: column;
                        @include form-standard;

                        input {
                            @include input-standard;
                        }
                    }

                    .city-postalcode {
                        display: flex;
                        gap: 1rem;

                        .form {
                            width: 100%;
                        }
                    }

                    .buttons {
                        display: flex;
                        gap: 1rem;
                    }
                }
                
            }
        }
    }
}*/