#browse-courses {
    padding-top: 5rem;
    padding-bottom: 5rem;

    .container {
        padding: 0;

        .course-boxes {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 0.5rem;


            .box {
                position: relative;
                border: 1px solid $gray-100;
                @include shadow-l;
                border-radius: 10px;
                margin-bottom: 1.5rem;
                padding: 0;
                margin: 5px;

                &:hover {
                    @include theme-shadow;
                }

                .bestseller {
                    top: 10px;
                    left: 10px;
                    padding: 6px 9px;
                    @include text-s;
                    color: white;
                    position: absolute;
                    background-color: #22C55E;
                    border-radius: 8px;
                }

                .btn-bookmark {
                    top: 10px;
                    right: 10px;
                    position: absolute;
                    border: none;
                    border-radius: 50%;
                    background-color: white;
                    height: 36px;
                    width: 36px;

                    &:hover {

                        i {
                            color: $theme;
                        }
                    }
                }

                img {
                    width: 100%;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                }

                .box-content {
                    margin: 15px;
                    text-align: left;
                    width: 88%;


                    .title {
                        margin: 0;
                        line-height: 25px;
                        margin-bottom: 7px;
                    }

                    .author {
                        @include text-s;
                        margin-bottom: 7px;
                    }

                    .pricing {
                        display: flex;
                        gap: 1rem;
                        @include text-lg;
                        color: $theme;
                        font-weight: 700;



                        .price {
                            margin-bottom: 7px;
                        }

                        .discount-enabled {
                            color: $gray-600;
                            @include standard-text;
                            text-decoration: line-through;
                        }

                        .discount-price {
                            color: $danger;
                        }
                    }

                    .hours-rating {
                        border-top: 1px solid $gray-300;
                        display: flex;
                        align-items: center;
                        margin: 0;
                        padding: 0;
                        padding: 1rem 0 0.5rem 0;
                        gap: 1rem;

                        .hours {
                            display: flex;
                            margin: 0;
                        }

                        .rating {
                            display: flex;
                            margin: 0;
                        }



                        img {
                            height: 20px;
                            width: 20px;
                            margin-right: 5px;
                        }

                        p {
                            @include text-s;
                            margin: 0;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }

        .pagination {
            padding-top: 2rem;
            display: flex;
            justify-content: center;
        }

        a {
            margin-left: 15px;
            color: $gray-800;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
            text-align: center;
            border-radius: 5px;
            text-align: center;

            &:hover {
                background-color: $gray-200;
            }
        }

        .active {
            background-color: $theme;
            color: white;
            transform: scale(1.2);
            @include theme-shadow;

            &:hover {
                background-color: $theme;
            }
        }
    }
}
