header {
    padding: 15px 0;

    .container {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr auto;
        grid-template-areas:  "logo mobile";
        gap: 40px;
        
        @include lg {
            grid-template-columns: auto 1fr auto auto;
            grid-template-areas:  "logo menu switch buttons";
        }

        #logo { grid-area: logo; }

        #menu { 
            grid-area: menu; 
            display: none;

            @include lg {
                display: block;
            }
            
            nav {
                display: flex;
                gap: 15px;
            }
        }
        
        .btn-switch { 
            grid-area: switch; 
            display: none;

            @include lg {
                display: block;
            }
        }

        .account-buttons { 
            grid-area: buttons; 
            display: none;
            gap: 15px;

            img {
                height: 50px;
                width: 50px;
                border: none;
                border-radius: 50%;
            }

            @include lg {
                display: flex;
            }
        }

        .btn-mobile {
            grid-area: mobile; 
            display: block;

            @include lg {
                display: none;
            }
        }
    }
}


















// header {
//     padding: 15px 0;

//     .container {
//         display: grid;
//         align-items: center;
//         grid-template-columns: 1fr auto;
//         grid-template-areas:    "logo mobile"
//                                 "menu menu menu"
//                                 "buttons buttons";
                                
//         gap: 2.5rem;

//         @include lg {
//             grid-template-columns: auto 1fr auto auto;
//             grid-template-areas:  "logo menu switch buttons";
//         }
        
//         // @include md {
//         //     grid-template-columns: 1fr auto auto;
//         //     grid-template-areas:  "logo switch mobile" "menu menu menu" "buttons buttons buttons";
//         // }

//         // @include xl {
//         //     grid-template-columns: auto 1fr auto auto;
//         //     grid-template-areas:  "logo menu switch buttons";
//         // }

//         #logo { 
//             grid-area: logo; 
//         }

//         #menu { 
//             // position: fixed;
//             // background-color: $gray-900;
//             // width: 100%;
//             // left: 0;
//             // bottom: 0;
//             // top: 0;
//             grid-area: menu; 
//             display: none;

//             @include lg {
//                 display: block;
//             }
            
//             nav {
//                 display: flex;
//                 gap: 15px;
//                 // display: grid;
//                 // justify-content: center;
//                 // gap: 1rem;

//                 // @include xl {
//                 //     display: flex;
//                 //     justify-content: flex-start;
//                 // }
//             }
//         }
        
//         #btn-switch { 
//             grid-area: switch; 
//             display: none;

//             @include lg {
//                 display: block;
//             }
//         }

//         .account-buttons { 
//             grid-area: buttons; 
//             display: none;
//             gap: 15px;
//             justify-content: center;

//             @include lg {
//                 display: flex;
//             }
//         }

//         .btn-mobile {
//             grid-area: mobile; 
//             display: block;

//             @include lg {
//                 display: none;
//             }
//         }
//     }
// }