#newsletter {
    background-color: $gray-100;
    padding: 4rem 0;


    .container {

        @media (min-width: 2200px) {
            width: 45%;
        }

        width: 50%;


        .heading {
            display: flex;
            align-items: center;
            gap: 20px;
        }

        form {

            .signup {
                margin: 2rem 0;
                display: grid;
                grid-template-columns: 1fr 3fr;

                @media (min-width: 1000px) {
                    margin-right: 3rem;
                }


                h5 {
                    width: 150px;
                }

                .options {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;

                    .checkbox-group {


                        .input-group {
                            display: flex;
                            align-items: center;

                            input {
                                width: 20px;
                                height: 20px;
                            }

                            label {
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }

            .subscribe {
                display: grid;
                align-items: center;
                grid-template-columns: 1fr auto;
                gap: 1.5rem;

                button {
                    padding: 10px 25px;
                }

                .input-group {
                    position: relative;

                    i {
                        color: $gray-400;
                        position: absolute;
                        left: 20px;
                        top: 15px;
                        font-size: 1.3rem;
                    }

                    input {
                        padding-left: 55px;
                    }

                    span {
                        &.field-validation-error {
                            position: static;
                            top: 0;
                            right: 0;
                            @include text-s;
                            color: $danger;
                        }
                    }
                }
            }

            .terms {
                margin-top: 10px;
                display: flex;
                gap: 5px;


                span {
                    color: $theme;
                }

                .success {
                    display: flex;
                    background-color: #D4EDDA;
                    color: black;
                    padding: 15px;
                    width: 50%;
                    border-radius: 8px;
                }

                .error {
                    display: flex;
                    background-color: #F5D7DA;
                    color: black;
                    padding: 15px;
                    width: 50%;
                    border-radius: 8px;
                }
            }
        }
    }
}
