
@await Html.PartialAsync("~/Views/Shared/Sections/_ShowcasePartial.cshtml")


<div id="features">
    @await Html.PartialAsync("~/Views/Shared/Sections/_FeaturesPartial.cshtml")
</div>

@await Html.PartialAsync("~/Views/Shared/Sections/_LightAndDarkPartial.cshtml")

@await Html.PartialAsync("~/Views/Shared/Sections/_ManagementPartial.cshtml")

@await Html.PartialAsync("~/Views/Shared/Sections/_DownloadPartial.cshtml")

@await Html.PartialAsync("~/Views/Shared/Sections/_WorkToolsPartial.cshtml")


@await Html.PartialAsync("~/Views/Shared/Sections/_NewsletterPartial.cshtml")

@await Html.PartialAsync("~/Views/Shared/_ValidationScriptPartial.cshtml")

