<section id="light-dark">
    <div class="content">
        <div class="dark">
            <div class="left">
                <h1 class="left-h1">Switch Between</h1>
            </div>
        </div>
        <div class="light">
            <div class="right">
                <h1 class="right-h1">Light & Dark Mode</h1>
            </div>
        </div>
        <div class="image-center">
            <div class="image">
                <img class="macbook" src="images/light-and-dark.svg" alt="">
                <img src="images/button.svg" alt="">
            </div>
        </div>
    </div>
</section>