@model SubscribeViewModel

<section id="newsletter">
    <div class="container">
        <div class="heading">
            <h1>Don't Want to Miss Anything?</h1>
            <img src="./images/newsletter-arrow.svg" alt="">
        </div>
        <form method="post" asp-action="Subscribe" asp-controller="Home" asp-fragment="newsletter" novalidate>
            <div class="signup">
                <h5>Sign up for Newsletters</h5>
                

                <div class="options">
                    <div class="checkbox-group">
                        <div class="input-group">
                            <input asp-for="DailyNewsletter" type="checkbox">
                            <label asp-for="DailyNewsletter">Daily Newsletter</label>
                        </div>
                    </div>
                    <div class="checkbox-group">
                        <div class="input-group">
                            <input asp-for="AdvertisingUpdates" type="checkbox">
                            <label asp-for="AdvertisingUpdates">Advertising Updates</label>
                        </div>
                    </div>
                    <div class="checkbox-group">
                        <div class="input-group">
                            <input asp-for="WeekInReview" type="checkbox">
                            <label asp-for="WeekInReview">Week in Review</label>
                        </div>
                    </div>
                    <div class="checkbox-group">
                        <div class="input-group">
                            <input asp-for="EventUpdates" type="checkbox">
                            <label asp-for="EventUpdates">Event Updates</label>
                        </div>
                    </div>
                    <div class="checkbox-group">
                        <div class="input-group">
                            <input asp-for="StartupsWeekly" type="checkbox">
                            <label asp-for="StartupsWeekly">Startups Weekly</label>
                        </div>
                    </div>
                    <div class="checkbox-group">
                        <div class="input-group">
                            <input asp-for="Podcasts" type="checkbox">
                            <label asp-for="Podcasts">Podcasts</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="subscribe">
                <div class="input-group">
                    <i class="fa-regular fa-envelope"></i>
                    <input asp-for="Email">
                    <span asp-validation-for="Email"></span>
                </div>
                <button class="btn-theme" type="submit">Subscribe *</button>
            </div>
            <div class="terms">
                @if (!string.IsNullOrEmpty(TempData["StatusMessage"]?.ToString()))
                {
                    @if (TempData["StatusCode"]?.ToString() == "OK")
                    {
                        <span class="success">@TempData["StatusMessage"]</span>
                    }
                    else
                    {
                        <span class="error">@TempData["StatusMessage"]</span>
                    }

                }
                else
                {
                    <span>*</span>
                    <p>Yes, I agree to the <a href="#">terms</a> and <a href="#">privacy policy</a></p>
                }
            </div>
        </form>
    </div>
</section>

