<section id="newsletter">
    <div class="container">
        <div class="heading">
            <h1>Don't Want to Miss Anything?</h1>
            <img src="./images/newsletter-arrow.svg" alt="">
        </div>
        <div class="content">
            <div class="text">
                <h5>Sign up for Newsletters</h5>
            </div>
            <div class="check-boxes">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Daily Newsletter
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Advertising Updates
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Week in Review
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Event Updates
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Startups Weekly
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Podcasts
                    </label>
                </div>
            </div>
        </div>
        <div class="subscribe">
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Your Email">
            </div>
            <button class="btn-theme">Subscribe*</button>
        </div>
        <div class="terms">
            <span>*</span>
            <p>Yes, I agree to the <a href="#">terms</a> and <a href="#">privacy policy</a></p>
        </div>
    </div>
</section>